<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>servlet.RemoveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XueshengServlet</servlet-name>
    <servlet-class>servlet.XueshengServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>servlet.DelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BanjiServlet</servlet-name>
    <servlet-class>servlet.BanjiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LaoshiServlet</servlet-name>
    <servlet-class>servlet.LaoshiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>KechengServlet</servlet-name>
    <servlet-class>servlet.KechengServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>KechengtableServlet</servlet-name>
    <servlet-class>servlet.KechengtableServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChengjiServlet</servlet-name>
    <servlet-class>servlet.ChengjiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaokeServlet</servlet-name>
    <servlet-class>servlet.TaokeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyAdminServlet</servlet-name>
    <servlet-class>servlet.ModifyAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>XuankeServlet</servlet-name>
    <servlet-class>servlet.XuankeServlet</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/RemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XueshengServlet</servlet-name>
    <url-pattern>/XueshengServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/DelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BanjiServlet</servlet-name>
    <url-pattern>/BanjiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LaoshiServlet</servlet-name>
    <url-pattern>/LaoshiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KechengServlet</servlet-name>
    <url-pattern>/KechengServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KechengtableServlet</servlet-name>
    <url-pattern>/KechengtableServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChengjiServlet</servlet-name>
    <url-pattern>/ChengjiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaokeServlet</servlet-name>
    <url-pattern>/TaokeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyAdminServlet</servlet-name>
    <url-pattern>/ModifyAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XuankeServlet</servlet-name>
    <url-pattern>/XuankeServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
